{% extends "flash.html" %}
{% block body %}
    <h1>excel上传</h1>
{#    <form>   <button  type="submit" class="file button red" id="tj" οnclick="check()">点击</button></form>#}
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file">
{#        <input type="submit" value="上传" onclick="alert('成功')">#}
        <input type="submit" value="上传" >

    </form>
 <div style="visibility: hidden;">
    <form action="/click" method="GET"><button   class="file button red"
                                                 type="submit" id="tj"
{#                                                 οnclick="check()"#}
    >点击</button></form>
 <p>数据展示：
        <input type="text" id ="NAME">
        <input type="text" id ="AGE"></p>
    <p>
        <button id = "btn">点击获取</button>
        <input type="text" id ="NAME2">
        <input type="text" id ="AGE2"></p>
<button id="btn1" onclick="flaskcall()">display</button>
</div>
    <script>
    function flaskcall()
{
    $.ajax(
  {
     type: "POST",
     url: "/test_post/nn",
     dataType: "json",
     success: function(msg)
     {
         alert(msg)
         console.log(msg);


     },
    error: function (xhr, status, error) {
        console.log(error);
    }

});
}


    </script>
<script type="text/javascript">
    $(function() {
          $("#btn").click(function(){
              var data={}
                $.ajax({
                url: "test_post/nn",
                type: "POST",
                    data:data,
                dataType: "json",

                success: function (data) {
                 alert(data.name + ":" + data.age);
                $("#NAME2").val(data.name);
                $("#AGE2").val(data.age);
                console.log(data)}

                })
            })
   function check()
   {
       var data = {
        };
       $.ajax(
      {
          type: "GET",
          url: "/click",
          data:data,
          contentType: 'application/json; charset=UTF-8',
          dataType: 'json',
          success: function(msg)
          {
             alert(msg)
             alert(JSON.stringify(msg));
             console.log(msg);
          },
          error: function (xhr, status, error) {
            console.log(error);
            alert("错误");
         }
      });
   }
   {#function ajaxForm() {#}
   {#    var form = new FormData(document.getElementById("test_form"));#}
   {#    $.ajax({#}
   {#        url: "{{ url_for('api_upload') }}",#}
   {#        type: "post",#}
   {#        data: form,#}
   {#        dataType: 'json',#}
   {#        processData: false,#}
   {#        contentType: false,#}
   {#        success: function (data) {#}
   {#            $(img_url_new).attr("src", data.img_url_new);#}
   {#            $(imgPic).attr("src", data.img_url_new);#}
   {#        },#}
   {#        error: function (e) {#}
   {#            alert("error");#}
   {#        }#}
   {#    })#}
   {#       #}
   {#       } #}

    })
</script>



{% endblock %}



